.information {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 60px auto;
}
.information__image {
    margin-right: auto;
}
.information__image img {
    max-width: 800px;
}
.information__data {
    width: 400px;
    margin-right: 50px;
}