.sidebar {
    flex: .1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sidebar__logo {
    font-size: 46px;
    font-weight: 600;
    background: #000;
    text-align: center;
    border-radius: 107px;
    width: fit-content;
    height: fit-content;
    padding: 11px 29px;
    margin: 0 auto;
    opacity: 0.5;
}
.sidebar__menuitem {
    font-size: 40px;
    text-align: center;
    padding: 50px;
}
.sidebar__profileimage {
    background-image: url('../images/Ramsey.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    margin: auto auto 60px;
}
@media screen and (max-width: 991px) {
    .sidebar {
        flex: 0.1;
        background: #000;
    }
    .sidebar__menu {
        display: flex;
    }
    .sidebar__logo,
    .sidebar__profileimage {
        display: none;
    }
  }