.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1600px;
    margin: 60px auto;
    padding: 0 40px;
}
.information__image {
    flex: .6;
}
.information__image img {
    max-width: 750px;
}
.information__data {
    flex: .6;
    padding: 20px;
}
.information__tvlist {
    height: 100%;
}
.information__data ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.information__data li {
    display: flex;
    justify-content: space-between;
}
.information__data li span {
    font-size: 18px;
}
.information__links {
    list-style: none;
    max-width: 500px;
    margin: 60px auto;
}
.information__links a {
    font-size: 24px;
}