.sidebar {
    flex: .05;
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: sticky;
    top: 0;
    left: 0;
}
.sidebar__logo {
    font-size: 25px;
    font-weight: 600;
    background: #000;
    text-align: center;
    border-radius: 107px;
    width: fit-content;
    height: fit-content;
    padding: 8px 20px;
    margin: 0 auto;
    opacity: 0.5;
}
.sidebar__menuitem {
    font-size: 28px;
    text-align: center;
    padding: 25px 0;
}
.sidebar__profileimage {
    background-image: url('../images/Ramsey.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    margin: auto auto;
}
@media screen and (max-width: 991px) {
    .sidebar {
        flex: 0.1;
        background: #000;
    }
    .sidebar__menu {
        display: flex;
    }
    .sidebar__logo,
    .sidebar__profileimage {
        display: none;
    }
  }